@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: white;
}

a {
  text-decoration: none;
  color: #303030;
}

a:hover {
  background-color: azure;
  color: black;
}

h1, h2 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  height: 100px;
  color: black;
  transition: .5s;
  background-color: turquoise;
  object-fit: cover;
  background-size: cover;
  position: fixed;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.header h1 {
  font-size: 3rem;
}

.header a {
  color: white;
  background-color: transparent;
}

.small-header {
  height: 0px;
}

.home {
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: whitesmoke;
}

.small-nav {
  margin-top: 100px;
}

.nav-links {
  margin: .5em;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.inactive {
  background-color: whitesmoke;
  border-radius: 10px;
  margin-right: 1em;
  padding: .8em;
  color: #303030;
  font-size: .8rem;
  cursor: pointer;
  transition: .3s;
}

.inactive:hover,
.inactive:focus,
.active,
.active:hover,
.active:focus {
  background-color: turquoise;
  border-radius: 10px;
  margin-right: 1em;
  padding: .8em;
  color: black;
  font-size: .8rem;
  cursor: pointer;
}

.page {
  margin: 2em;
}

.card {
  width: 100%;
  height: 100%;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card:hover {
  background-color: azure;
}

.small-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1em;
  margin-right: 1em;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.large-img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-right: 1em;
}

figcaption {
  font-size: .8rem;
}

.empty {
  min-width: 130px;
  min-height: 100px;
  max-width: 130px;
  max-height: 100px;
  margin: 1em;
  display: inline-block;
}

.navigate-links {
  text-align: center;
  font-size: .8rem;
  width: fit-content;
  margin: 0 auto;
}

.navigate {
  cursor: pointer;
  border: none;
  color: #303030;
  background-color: azure;
  border-radius: 10px;
  padding: .8em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.navigate:hover,
.navigate:focus {
  color: black;
}

.filter {
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 1em;
}

.search {
  margin-bottom: 1em;
}

.search input {
  border: none;
  background-color: whitesmoke;
  padding: 1em 1.5em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.search-button {
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: whitesmoke;
  padding: 1em 1.5em;
  outline: none;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.message {
  text-align: center;
  margin-bottom: 1em;
}

.tag {
  background-color: azure;
  border-radius: 10px;
  margin-right: .5em;
  margin-left: .5em;
  padding: .8em;
  color: #303030;
  font-size: .8rem;
  cursor: pointer;
}

.tag:hover,
.tag:focus {
  color: black;
}

.clear-tag {
  font-size: .8rem;
  cursor: pointer;
}

.meant-for {
  background-color: whitesmoke;
  border-radius: 10px;
  margin-right: 1em;
  padding: .8em;
  color: black;
  font-size: .8rem;
}

.center {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.updated {
  color: gray;
  font-size: .8rem;
  display: block;
}

.opening-hours {
  line-height: 1;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hours {
  margin: 0;
  padding: 0;
}

.description {
  margin-top: 1em;
  margin-bottom: 2em;
}

.off {
  display: none;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}